<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= raw t("help_content",
    help_section_link: link_to((t "help_section"), Settings.rails_help_link),
    rails_book_link: link_to((t "rails_book"), Settings.rails_book_link)
  ) %>
</p>
